@media only screen and (max-device-width: 768px) {
  .header-contianer {
    background-size: 100% 100%;
  }

  .nav-content {
    background: white;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-content .nav-item a {
    text-align: center;
  }

  .nav-button {
    text-align: center;
  }
  .section-one-heading {
    font-size: 2.2rem;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #181e4b;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .girl-img {
    width: 135%;
    margin-left: -4rem;
  }
}
@media (min-width: 1200px) {
  .hero-title {
    font-size: 4.6rem;
  }
}

@media (min-width: 1400px) {
  .hero-title {
    font-size: 5.2rem;
  }
}
@media (min-width: 1200px) {
  .hero-title:before {
    font-size: 4.6rem;
    top: 4.1rem;
    right: -0.9rem;
  }
}
@media (min-width: 1400px) {
  .hero-title:before {
    font-size: 5.2rem;
    top: 4.6rem;
    width: 23.1rem;
  }
}
