@media only screen and (max-device-width: 768px) {
  .header-contianer {
    background-size: 100% 100%;
  }

  .nav-content {
    background: white;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-content .nav-item a {
    text-align: center;
  }

  .nav-button {
    text-align: center;
  }
  .section-one-heading {
    font-size: 2.2rem;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #181e4b;
  }
}
/* L mobile */

/* med mobile */
@media (min-width: 375px) and (max-device-width: 768px) {
  .overlay {
    position: absolute;

    height: 390px;
    width: 280px;
    border-radius: 25px 25px 0px 0px;
    margin-top: -150px;

    opacity: 0;
    transition: 0.3s ease;
    background-color: rgb(114, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cost {
    font-size: larger;
    color: #5e6282;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 200;
    margin-top: 40px;
    margin-left: 20px;
  }

  .ten-days {
    color: #5e6282;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: bolder;
    margin-top: -10px;
  }
  .navigation-vector {
    width: 15px !important;
    height: 15px !important;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: -10px;
  }
  .first-destination-inner {
    box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
    -webkit-box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
    -moz-box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
  }
  .section-three-heading {
    font-family: "Volkhov", "DM Serif Display", cursive;
    font-size: 2.6rem;
    font-weight: bold;
    color: #181e4b;
    text-align: center;
  }
  .easy {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #5e6282;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .girl-img {
    width: 135%;
    margin-left: -4rem;
  }
}
/* laptop */
@media (min-width: 1366px) and (max-width: 1400px) {
  .hero-title:before {
    font-size: 4.6rem;
    top: 4.1rem;
    right: -0.9rem;
  }
  .hero-title {
    font-size: 4.6rem;
  }
  .shape-ring {
    position: absolute;
    right: 100px;
    height: 200px;

    margin-top: 180px;
  }
  .overlay {
    position: absolute;

    height: 390px;
    width: 292px;
    border-radius: 25px 25px 0px 0px;
    margin-top: -150px;

    opacity: 0;
    transition: 0.3s ease;
    background-color: rgb(114, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-destination-inner {
    box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
    -webkit-box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
    -moz-box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
  }
  .sec-4-image-size {
    width: 600px;
    margin-top: 65px;
  }
  .s3-content {
    display: flex;
    align-items: center;
    margin-bottom: -50px;
  }
}

/* xl */
@media (min-width: 1400px) {
  .hero-title {
    font-size: 5.2rem;
  }
  .hero-title:before {
    font-size: 5.2rem;
    top: 4.6rem;
    width: 23.1rem;
  }
  .shape-ring {
    position: absolute;
    right: 280px;
    height: 250px;

    margin-top: 180px;
  }
  .overlay {
    height: 380px;
    width: 340px;
    border-radius: 25px 25px 0px 0px;
    margin-top: -150px;

    opacity: 0;
    transition: 0.3s ease;
    background-color: rgb(114, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
