@media only screen and (max-device-width: 768px) {
  .header-contianer {
    background-size: 100% 100%;
  }

  .nav-content {
    background: white;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-content .nav-item a {
    text-align: center;
  }

  .nav-button {
    text-align: center;
  }
  .section-one-heading {
    font-size: 2.2rem;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #181e4b;
  }
}
/* L mobile */

/* med mobile */
@media (min-width: 375px) and (max-device-width: 768px) {
  .overlay {
    position: absolute;

    height: 390px;
    width: 280px;
    border-radius: 25px 25px 0px 0px;
    margin-top: -150px;

    opacity: 0;
    transition: 0.3s ease;
    background-color: rgb(114, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cost {
    font-size: larger;
    color: #5e6282;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 200;
    margin-top: 40px;
    margin-left: 20px;
  }

  .ten-days {
    color: #5e6282;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: bolder;
    margin-top: -10px;
  }
  .navigation-vector {
    width: 15px !important;
    height: 15px !important;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: -10px;
  }
  .first-destination-inner {
    box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
    -webkit-box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
    -moz-box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
  }
  .section-three-heading {
    font-family: "Volkhov", "DM Serif Display", cursive;
    font-size: 2.6rem;
    font-weight: bold;
    color: #181e4b;
    text-align: center;
  }
  .easy {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #5e6282;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  .s3-content {
    display: flex;
    align-items: center;
    margin-bottom: -50px;
  }
  .head-wrapper-two h2 {
    font-family: "Volkhov", "DM Serif Display", cursive;
    font-size: 2.6rem;
    font-weight: bold;
    color: #181e4b;
    text-align: center;
  }
  .head-wrapper-two h4 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #5e6282;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  .testimonials-parent {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
    width: 350px;
  }
  .testimonials-content {
    background: white;
    width: 310px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 0px 23px 17px 8px rgba(204, 204, 204, 0.45);
    -webkit-box-shadow: 0px 23px 17px 8px rgba(204, 204, 204, 0.45);
    -moz-box-shadow: 0px 23px 17px 8px rgba(204, 204, 204, 0.45);
  }
  .testimonials-img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 5px;
  }
  .testimonial-para {
    color: #5e6282;
    margin: 60px 25px 0 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
  }
  .airline-parent {
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .airline {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 300px;

    transition: 0.5s;
    border-radius: 20px;
    filter: grayscale();

    cursor: pointer;
  }
  .sub-padding {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub {
    position: relative;
    border-radius: 20px;
    background-color: #ffffff;
    background-image: url(../images/subs.png);
    height: 300px;
    width: 90vw;

    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
  }
  .icon-send {
    position: absolute;
    left: auto;
    top: -6%;
    right: -1%;
    bottom: 0%;
    width: 60px;
  }
  .plus-gfx {
    position: absolute;
    left: auto;
    top: auto;
    right: -5%;
    bottom: -13%;
    width: 101.5px;
  }
  .sub-heading {
    font-family: Poppins, sans-serif;
    color: #5e6282;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    text-align: center;
  }
  /* .email-centre {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .email-box {
    position: absolute;
    right: 40px;
    top: 98px;
    background: white;
    width: 253px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
  }
  .email-box img {
    width: 18px;
  }
  .email-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    font-size: medium;
    font-style: WHITE;
  }
  .sub-button {
    background: #ff7d68;
    border: none;
    position: absolute;
    right: 40px;
    top: 310px;

    width: 253px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;

    border-radius: 10px;
    font-weight: 600;
  }
  .sub-heading {
    font-family: Poppins, sans-serif;
    color: #5e6282;
    font-size: 1.1rem;
    line-height: 1.1;
    font-weight: 500;
    text-align: center;
    margin-top: 100px;
    padding: 0 30px 0 30px;
  }
  .foot_logo {
    text-align: center;
  }
  .jadoo-black-logo {
    margin-left: 60px;
  }
  .foot-para {
    font-size: small;
    text-align: center;
    margin-right: -10px;
    margin-top: -21px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .girl-img {
    width: 135%;
    margin-left: -4rem;
  }
}
/* laptop */
@media (min-width: 1366px) and (max-width: 1399px) {
  .hero-title:before {
    font-size: 4.6rem;
    top: 4.1rem;
    right: -0.9rem;
  }
  .hero-title {
    font-size: 4.6rem;
  }
  .shape-ring {
    position: absolute;
    right: 100px;
    height: 200px;

    margin-top: 180px;
  }
  .overlay {
    position: absolute;

    height: 390px;
    width: 292px;
    border-radius: 25px 25px 0px 0px;
    margin-top: -150px;

    opacity: 0;
    transition: 0.3s ease;
    background-color: rgb(114, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-destination-inner {
    box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
    -webkit-box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
    -moz-box-shadow: 1px 25px 14px 9px rgba(204, 204, 204, 0.75);
  }
  .sec-4-image-size {
    width: 600px;
    margin-top: 65px;
  }
  .s3-content {
    display: flex;
    align-items: center;
    margin-bottom: -50px;
  }
  .testimonials-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 600px;
  }
  .testimonials-content {
    background: white;
    width: 500px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0px 23px 17px 8px rgba(204, 204, 204, 0.45);
    -webkit-box-shadow: 0px 23px 17px 8px rgba(204, 204, 204, 0.45);
    -moz-box-shadow: 0px 23px 17px 8px rgba(204, 204, 204, 0.45);
  }
  .airline-parent {
    height: 200px;
    width: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .airline {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 205px;

    transition: 0.5s;
    border-radius: 20px;
    filter: grayscale();

    cursor: pointer;
  }
  .axon-logo {
    padding: 0 25px 0 25px;
  }
  .foot-para {
    margin-right: -70px;
    margin-top: -21px;
  }
  .google-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 118px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    border-radius: 30px;
    color: white;
    font-size: 10px;
    line-height: 1;
    margin-left: 5px;
  }

  .google-play {
    font-weight: 500;
    line-height: 1;
    margin-bottom: -11px;
    margin-left: -63px;
    text-align: center;
  }
  .apple {
    line-height: 1;
    margin-bottom: -12px;
    margin-right: 20px;
  }
}

.available {
  margin-right: -59px;
  margin-top: 5px;
}

/* xl */
@media (min-width: 1400px) {
  .hero-title {
    font-size: 5.2rem;
  }
  .hero-title:before {
    font-size: 5.2rem;
    top: 4.6rem;
    width: 23.1rem;
  }
  .shape-ring {
    position: absolute;
    right: 280px;
    height: 250px;

    margin-top: 180px;
  }
  .overlay {
    height: 380px;
    width: 340px;
    border-radius: 25px 25px 0px 0px;
    margin-top: -150px;

    opacity: 0;
    transition: 0.3s ease;
    background-color: rgb(114, 113, 113);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plus {
    margin-top: -100px;
  }
}
